/nbproject/private/*
/build/*
/class/*
/libs/jetty-all-9.0.6.v20130930.jar
/libs/log4j-1.2.17.jar
/libs/ojdbc6_g.jar
/libs/servlet-api.jar
/libs/ucp.jar
/dist/
/libs/json_simple-1.1.jar
/readme.html
/libs/ojdbc8.jar
